# ---------------------------------------------
# Python & Jupyter 캐시파일 무시
# ---------------------------------------------
__pycache__/
*.pyc
*.ipynb
.ipynb_checkpoints/

# ---------------------------------------------
# 환경파일, 설정파일
# ---------------------------------------------
.env
*.env
.vscode/

# ---------------------------------------------
# 노트북 폴더 제외
# ---------------------------------------------
notebooks/
# ---------------------------------------------
# 대용량 원본 데이터 제외
# ---------------------------------------------
# 특정 파일만 무시
data/sales/rest_sales/sale_merged_with_geo.csv
data/sales/raw/
*.bak
*.old
*.zip
*.tar.gz

# ---------------------------------------------
# Streamlit 설정
# ---------------------------------------------
.streamlit/secrets.toml